<h2>{{#if task}}Edit{{else}}Add{{/if}} Task</h2>

<form method="POST" action="{{#if task}}/tasks-collection/tasks/{{task.Task_id}}?_method=PATCH{{else}}/tasks-collection/{{collectionId}}/tasks{{/if}}">
  <label>Title:</label>
  <input type="text" name="Title" value="{{task.Title}}" required />

  <label>Description:</label>
  <textarea name="Description">{{task.Description}}</textarea>

  <button type="submit">Save Task</button>
</form>

<a href="/tasks-collection/{{userId}}/{{collectionId}}">Back to Collection</a>
