<h2>{{#if collection}}Edit{{else}}Create{{/if}} Task Collection</h2>

<form method="POST" action="{{#if collection}}/tasks-collection/{{collection.Collection_id}}?_method=PATCH{{else}}/tasks-collection{{/if}}">
  <input type="hidden" name="User_id" value="{{userId}}" />
  <label>Title:</label>
  <input type="text" name="Title" value="{{collection.Title}}" required />
  <button type="submit">Save</button>
</form>

<a href="/tasks-collection/{{userId}}">Back</a>
